/*
&spi1 {
    status = "okay";
    cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;

    dw1000: dw1000@0 {
        compatible = "decawave,dw1000";
        reg = <0>;
        label = "DW1000";
        int-gpios = < &gpio0 19 GPIO_ACTIVE_HIGH>;
        reset-gpios = < &gpio0 24 GPIO_ACTIVE_LOW >;
        spi-max-frequency = < 19200000 >;
    };
};
*/
&spi2 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;

	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
	ieee802154: dw1000@0 {
		compatible = "decawave,dw1000";
		spi-max-frequency = <8000000>;
		int-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;	/* P0.19 */
		reset-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;	/* P0.24 */
		status = "okay";
		reg = <0>;
	};
};